body {
  margin :0;
  padding: 0;
  font-family : sans-serif;

}
body::before{
content:"";

  background-image:url(images.jpeg);
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.box{
  width:300px;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: none;
  text-align: center;
}
.box h1{
  color:white;
  text-transform: uppercase;
  font-weight:  500;
}

.box input[type = "text"],.box input[type="password"]{
  border:0;
  background: none;
  display: block;
  margin:  20px auto;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  opacity: 0.5;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color : white;
  transition: 0.25s;
}
.box input[type = "text"]::placeholder,.box input[type="password"]::placeholder{
  color:white;
}
.box input[type = "text"]:focus,.box input[type="password"]:focus{
  width: 280px;
  border-color: #60B8F9;
}

.box input[type="submit"]{
  border:0;
  background: none;
  display: block;
  margin:  20px auto;
  text-align: center;
  border : 2px solid #60B8F9;
  padding: 14px 40px;
  margin-top:50px;
  width: 240px;
  outline: none;
  color : white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #60B8F9;
}
